<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.android.cola">

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <uses-feature
        android:name="android.hardware.bluetooth_le"
        android:required="true" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".LoginActivity"
            android:theme="@style/FullTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".SignUpActivity" />
        <activity
            android:name=".AlbumsActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".GalleryActivity"
            android:parentActivityName=".AlbumsActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".AlbumsActivity" />
        </activity>
        <activity
            android:name=".AddNewMemberActivity"
            android:label="@string/add_new_member"
            android:parentActivityName=".GalleryActivity"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".GalleryActivity" />
        </activity>
        <activity android:name=".FriendListActivity" />
        <activity
            android:name=".DetailActivity"
            android:parentActivityName=".GalleryActivity"
            android:theme="@style/NoTitle">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".GalleryActivity" />
        </activity>
        <activity
            android:name=".ImagePickActivity"
            android:parentActivityName=".GalleryActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".GalleryActivity" />
        </activity>
        <activity android:name=".BluetoothTestActivity" />

        <service
            android:name=".BluetoothService"
            android:enabled="true"
            android:exported="true" />
        <service
            android:name=".FindNearbyFriendsService"
            android:enabled="true"
            android:exported="true"></service>
    </application>

</manifest>